<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!-- &lt;!&ndash; 对事务的管理和连接池的配置 &ndash;&gt;
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
                <property name="username" value="ibatis" />
                <property name="password" value="ibatis" />
            </dataSource>
        </environment>
    </environments>

    &lt;!&ndash; mapping 文件路径配置 &ndash;&gt;
    <mappers>
        <mapper resource="com/yu/res/UserMapper.xml" />
    </mappers>-->
    <settings>
        <setting name="useGeneratedKeys" value="true"/>

        <setting name="useColumnLabel" value="true"/>

        <setting name="mapUnderscoreToCamelCase" value="true"/>

    </settings>
</configuration>